/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

/* stylelint-disable-next-line scss/at-rule-no-unknown */
@theme {
  --color-persian-green: hsl(177deg 100% 33% / 100%);
  --color-aqua-squeeze: hsl(177deg 39% 91% / 100%);
  --color-black-squeeze: hsl(170deg 30% 96% / 100%);
  --color-shark: hsl(0deg 0% 13% / 100%);
  --color-storm-dust: hsl(0deg 0% 40% / 100%);
  --color-star-dust: hsl(0deg 0% 60% / 100%);
  --color-white: hsl(0deg 0% 100% / 100%);
}
